html, *{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Navbar */
ul{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: black;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    font-size: 25px;
}
.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.nav-item{
    margin: 10px;
    width: 100%;
    height: 100%;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}


/* Hero section*/

.background{
    width: 100%;
    z-index: -1;
    background-image: url(src/Theater-background.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
    margin-top: -100px;
    margin-right: 0;
}
.hero-heading{
    display: flex;
  z-index: 1;
  padding-top: 400px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6em;
}

/*  Featured shows display  */
h5{
    background-color: whitesmoke;
    width: 70%;
    text-align: left;
    padding: 10px;
margin-left: 200px;
margin-top: 100px;
}
.wrap-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 190px;

}
.wrapper{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 10px;

}
.box{
    height: auto;
    max-width: 300px;
}
.grid-img {
    object-fit: cover;
    max-width: 250px;
    height: auto;

}
.grid-text{
    text-align: center;
}
button{
    background-color: #f0c14b ;
    color: white;
    font-weight: 300;
    font-size: 20px;
     border-radius: 2px;
     width: 35%;
     height: 40px;
     border: 1px solid;
     margin-top: 10px ;
     border-color: #a88734;
 }
 p{
     line-height: 50px;
 }

 .box3{
    padding-top:60px ;  
 }

 /* footer */ 
footer{
    margin-bottom: 0px;
}
.bottom{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}
.map{
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}
.mapimg {
    width: 250px;
}

 .foot{
     display: flex;
     flex-direction: column;
       width: 25%;
    font-size: .6em;
 }

 .foothead{
font-size: 3em;
 }
 .tiny{
     margin: 5px;
     font-size: 15px;
 }